name: Release @zitadel/vue package
on:
  push:
    branches:
      - 'main'

jobs:
  release:
    name: build and release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: yarn
        working-directory: ./lib
      - run: yarn build
        working-directory: ./lib
      - name: semantic release
        uses: cycjimmy/semantic-release-action@v6
        with:
          working_directory: ./lib
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}